# V build artifacts
vector-v
*.o
*.tmp

# V cache
.cache/
src/main

# Rust build artifacts
bench/rust-vrl/target/
bench/rust-vrl/Cargo.lock

# V bench binaries
bench/v-vrl/bench
bench/v-vrl/bench_*
bench/v-vrl-jit/bench
bench/v-vrl-jit/bench_*
